$main: rgb(22, 59, 193);
$main-opacity: rgba(22, 59, 193, 0.8);
$accordion-opacity: rgba(37, 77, 221, 0.7);
$main-dark: rgb(10, 20, 56);
$btn-hover: rgba(255, 255, 255, 0.3);
$shadow:rgba(0, 0, 0, 0.5);
$pure-white: rgb(255, 255, 255);
$white:rgba(255, 255, 255, 0.8);
$shadow-gradient: linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(255, 255, 255, 0) 100%);